/* Light Mode Styles */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
nav.navbar{
    padding:0;
}
.btn-primary
h1 {
    color: #00a79D;
  text-align: center;
}

.nav-pills .nav-item .nav-link.active {
    background-color: #00a79D;
    color: #fff;
}
.intro {
    background-color: #00a79D;
    color: #fff;
    padding: 50px 0;
}
.intro h2 {
    font-weight: 700;
}
.services {
    padding: 50px 0;
}
.card {
    margin-bottom: 20px;
    border: none;
}
.card-body {
    text-align: center;
}
.card-title {
    font-weight: 700;
}
.navbar-nav .nav-link.active {
color: #ffffff; /* Set the color to white */
} 
.bulu:not(.dropdown-item){
background: #00a79D;
border-radius:10px;
}
a.nav-link.active{
    text-align: center;
}

label {
    font-weight: 500;
}

.form-group {
    margin-bottom: 20px;
}

#calculateButton {
    background-color: #00a79D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}



tr:nth-child(even) {
background-color: #FFF;
}
tr:nth-child(odd){
    background: lightgrey;
}


@keyframes scrollText {
0% {
transform: translateY(-100%);
}
100% {
transform: translateY(0);
}

}

input[type="number"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00a79D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
a.bt{
    background-color: #00a79D;
    color:white;
}
#result {
    text-align: center;
    margin-top: 20px;
}


        /* GitHub container styles */
        .github-container {
            text-align: center;
            margin-top: 10px;
        }

        /* GitHub profiles section styles */
        .github-section {
            border-radius: 10px;
            text-align: center;
            padding: 20px;
        }

        .github-profile {
            margin-top: 10px;
        }

        .img-github-mark{
            width: 50px;
            height: 50px;
        }
        :root{
            --d:black;
        }

.dark{
    color:white
}